<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
{% block content %}
<section class="section section-lg bg-secondary overflow-hidden z-2">
            <div class="container z-2">
                <div class="row justify-content-center pt-6 pt-md-5 pb-0 mb-2">
                    <div class="col-12 col-xl-7">
                        <div class="card card-tertiary">
                            <div class="card-header text-center">
                                <span>Kate Sharkun</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Love for old Windows desing made me create a <span class="text-italic">Windows 95</span>-inspired site using Flask, <a href="https://github.com/djbritt/ClippyJS_EasyAccess">Clippy JS library</a> and Windows 95 UI Kit by <a href="https://themesberg.com/product/ui-kit/windows-95-ui-kit">Themesberg</a>. Double-click on Clippy to animate it. To be updated!</p>
                                <div class="text-center">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}


</body>
</html>